/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 25 may 2024, 10:17:31
    Author     : naher
*/

@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: hsl(0, 0%, 100%);
    background-image: radial-gradient(800px circle at 100% 0%,
        hsl(211, 58%, 92%) 15%,
        hsl(210, 86%, 97%) 35%,
        hsl(223, 91%, 95%) 75%,
        hsl(214, 100%, 99%) 80%,
        transparent 100%),
        radial-gradient(600px circle at 0% 100%,
          hsl(202, 46%, 92%) 15%,
          hsl(0, 0%, 100%) 35%,
          hsl(210, 100%, 96%) 75%,
          hsl(216, 100%, 99%) 80%,
          transparent 100%);
    padding-top: 100px; /* NUEVO: Espacio para la navbar fija. Ajusta si la altura cambia */
}
/* 
header {
      width: 100%;
      height: 100vh;
      background: url(https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Beautiful-Full-HD-Wallpaper-Download-Free-PIC-WPE0010098.jpg) no-repeat 50% 50%;
      background-size: cover;
} */

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #2b377a;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 1050; /* NUEVO: Alto z-index (Bootstrap usa 1030 para navbars; 1050 es seguro). Asegura que tape todo lo demás */
    top: 0; /* NUEVO: Explícito para fijar en la parte superior */
    left: 0; /* NUEVO: Explícito para cubrir todo el ancho */
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #4d63b1;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #ffffff;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #213c86;
      font-size: 16px;
}
nav ul li a:hover {

      color: #d1ddff;

}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}

